{% load static %}
{% load store_tags %}
<nav class="header_nav">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-auto">
                <a href="{% url 'index' %}"><img src="{% static 'store/images/header_logo.jpg' %}" alt=""></a>
            </div>
            <div class="col-sm-8 col-lx-8 m-auto">
                <ul class="header_nav-menu d-flex justify-content-center flex-wrap text-center">
                    {% get_all_categories as categories %}
                    {% for category in categories %}
                    <li class="header_nav-item"><a class="header_nav-link" href="{{ category.get_absolute_url }}">
                        {{ category.title|upper }}
                    </a></li>
                    {% endfor %}
                    {% if request.user.is_authenticated %}
                    <li class="header_nav-item mt-3 mt-lg-0"><a class="header_nav-link" href="{% url 'cart' %}">SAVAT</a>
                    <li class="header_nav-item mt-3 mt-lg-0"><a class="header_nav-link" href="{% url 'logout' %}">CHIQISH</a>
                    {% else %}
                    <li class="header_nav-item mt-3 mt-lg-0"><a class="header_nav-link" href="{% url 'login_register' %}">KIRISH</a>
                    {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="header_panel">
        <div class="header_panel-item">
            <img src="{% static 'store/images/icons/search_icon.svg' %}" alt="">
        </div>
        {% if request.user.is_authenticated %}
        <a href="{% url 'favourite_products' %}" class="header_panel-item">
            <img src="{% static 'store/images/icons/basket_icon.svg' %}" alt="">
        </a>
        {% endif %}
        <div class="header_panel-item">
            <img src="{% static 'store/images/icons/user_icon.svg' %}" alt="">
        </div>
    </div>

    <!-- BURGER MENU START -->
    <div class="header_lx-panel">
        <input type="checkbox" class="toggler">
        <div class="hamburger">
            <div></div>
        </div>
        <div class="menu">
            <div>
                <div>
                    <ul>
                        <li>
                            <a class="header_nav-link" href=""><img src="{% static 'store/images/icons/basket_icon.svg' %}"
                                                                    alt=""></a>
                            <a class="header_nav-link" href=""><img src="{% static 'store/images/icons/ru_lang_icon.svg' %}"
                                                                    alt=""></a>
                        </li>
                        <li class="header_nav-item"><a class="header_nav-link" href="">PROFIL</a></li>
                        {% for category in categories %}
                        <li class="header_nav-item"><a class="header_nav-link" href="{{ category.get_absolute_url }}">
                            {{ category.title|upper }}
                        </a></li>
                        {% endfor %}
                        <li class="header_nav-item"><a class="header_nav-link" href="">KIRISH</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- BURGER MENU END -->
</nav>